.wrap {
  position: relative;
  max-width: 100%;
}
.contact-info-card-wrap {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #ededed;
  border: solid 3px #f2f2f2;
  color: black;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 40px;
}

.contact-img {
  height: 180px;
  border-radius: 10px;
}
.contact-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 40px 20px;
}

.header {
  margin: 0px;
}

.contact-info {
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  margin: 0px;
}

.contact-info li {
  list-style: none;
  display: flex;
  align-items: center;
}
.contact-info li > h1,
h2,
h3 {
  margin: 0px;
}
.icon {
  height: 20px;
  margin-right: 10px;
}
.header-medium {
  font-size: 24px;
}
.contact-field-medium > h2 {
  font-size: 18px;
}
.contact-field-medium > span {
  font-size: 16px;
}

.header-small {
  font-size: 20px;
}
.contact-field-small > h2 {
  font-size: 14px;
}
.contact-field-small > span {
  font-size: 12px;
}
@media all and (max-width: 800px) {
  .contact-info-card-wrap {
    box-sizing: border-box;
  }
  .wrap {
    width: 100%;
  }
  .contact-card-blur {
    max-width: 100%;
  }
}
@media all and (max-width: 600px) {
  .contact-info-card-wrap {
    height: 200px;
    padding: 0px 10px;
  }
  .contact-info-wrap {
    padding: 0px;
  }
  .contact-img {
    display: none;
  }

  .header-medium {
    font-size: 20px;
  }
  .contact-field-medium > h2 {
    font-size: 16px;
  }
  .contact-field-medium > span {
    font-size: 14px;
  }

  .header-small {
    font-size: 20px;
  }
  .contact-field-small > h2 {
    font-size: 14px;
  }
  .contact-field-small > span {
    font-size: 12px;
  }
}
