.contact-info-card-wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;
  height: 250px;
  background-color: #ededed;
  border: solid 3px #f2f2f2;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0px 40px;
}

.contact-img {
  height: 180px;
  border-radius: 10px;
}

.contact-info-wrap {
  width: 100%;
}
.contact-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0px;
}

.contact-info li {
  list-style: none;
  display: flex;
  align-items: center;
}
.contact-info li > h1,
h2,
h3 {
  margin: 0px;
}
.icon {
  height: 20px;
  margin-right: 10px;
}
@media all and (max-width: 800px) {
  .contact-info-card-wrap {
    max-width: 100%;
    border-radius: 0px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
@media all and (max-width: 600px) {
  .contact-info-card-wrap {
    height: 200px;
    padding: 0px 10px;
  }
  .contact-img {
    display: none;
  }
  .contact-info {
    padding: 10px 20px 20px 20px;
  }
  .contact-info li > h1 {
    font-size: 24px;
  }
  .contact-info li > h2 {
    font-size: 20px;
  }
  .contact-info li > h3 {
    font-size: 18px;
  }
}
