.footer-wrap {
  z-index: 2;
  width: 100%;

  box-sizing: border-box;
  background-color: black;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.footer-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0px 40px;
  gap: 4%;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
}

.footer-section * {
  color: rgba(256, 256, 256, 0.8);
}
.footer-section h2 {
  color: rgb(256, 256, 256);
  margin: 0px;
  width: max-content;
}
.footer-section a:hover {
  color: white;
}
.footer-section ul {
  padding: 0px;
  margin: 10px 0px;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

.footer-content ul li {
  height: min-content;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(256, 256, 256, 0.8);
}
.footer-content a {
  text-decoration: none;
}
.section-about-club p {
  text-align: justify;
}

.section-contacts {
  width: 250px;
}
.section-about-club p {
  margin: 0px;
  margin-top: 10px;
}
.section-contacts li {
  width: 100%;
  display: flex;
  align-items: start;
}
.section-actions ul {
  display: flex;
  align-items: start;
}
.section-contacts img {
  height: 20px;
  margin-right: 8px;
  margin-top: 6px;

  filter: invert(100%);
}
.icon {
  filter: invert(100%);
  height: 40px;
}
@media all and (max-width: 1200px) {
  .footer-wrap {
    padding: 30px 10px 50px 10px;
  }
  .footer-section h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 900px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-actions ul {
    flex-direction: row;
    gap: 30px;
  }
}
