.content-wrap {
  width: 100%;
  display: flex;
  gap: 30px;
}
.header {
  font-size: 40px;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
}
.contact-cards-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  width: 650px;
  justify-content: start;
  margin-bottom: 30px;
}
.map-background {
  flex: 1;
  height: 500px;
  margin-bottom: 30px;
}
.map-wrap {
  height: 500px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: black;
  overflow: hidden;
}
.map {
  height: 100px;
}
.map-background {
  border-radius: 28px;
}
.tip-wrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  min-height: 60px;
  width: 100%;
  max-width: max-content;
  padding: 5px 20px;
  background-color: white;
  border-bottom: solid 3px #f2f2f2;
}
.tip-icon {
  width: 30px;
}
@media all and (max-width: 1200px) {
  .content-wrap {
    display: block;
  }
  .contact-cards-wrap {
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  .contact-cards-wrap {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
  }
  .map-wrap {
    margin-bottom: 0px;
    border-radius: 0px;
  }
  .map-background {
    margin-bottom: 0px;
    border-radius: 0px;
  }
  .map {
    border-radius: 10px;
  }
}
