.wrap {
  position: relative;
  margin-top: 65px;
  height: 435px;
  width: 500px;
}
.league-table-wrap {
  box-sizing: border-box;
  background-color: #ededed;
  height: 435px;

  overflow: scroll;
  border-radius: 10px;
  border: solid 3px #f2f2f2;
}
.table-header {
  background-color: rgba(0, 0, 0, 0.5);

  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-footer {
  background-color: black;
  height: 10px;
}

.table-header,
.table-footer > h1 {
  margin: 0;
  color: white;
}
.league-table {
  position: relative;

  min-height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.league-table thead {
  height: 40px;
}

.league-table th {
  text-align: start;
}
.arrow-down-icon {
  position: absolute;
  z-index: 2;
  bottom: 0px;

  right: 0px;
  height: 20px;
  margin: 20px 20px;
}
.grey-background {
  background-color: #f2f2f2;
}

.selected {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}
.center {
  text-align: center;
}
@media all and (max-width: 1400px) {
  .league-table-wrap {
    height: 349px;
  }
  .wrap {
    height: 349px;
    margin-top: 51px;
  }
  .table-header {
    height: 30px;
  }
  .league-table thead {
    height: 30px;
  }
  td {
    height: 35px;
  }
}
@media all and (max-width: 1200px) {
  .wrap {
    display: none;
  }
}
