section.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  margin-top: 100px;
  margin: 15%;
  margin-right: 15%;
  transition: 300ms;
}
@media all and (max-width: 1480px) {
  section.content {
    margin: 12%;
    margin-right: 12%;
  }
}

@media all and (max-width: 1200px) {
  section.content {
    margin: 10%;
    margin-right: 10%;
  }
}

@media all and (max-width: 1000px) {
  section.content {
    margin: 5%;
    margin-right: 5%;
  }
}

@media all and (max-width: 800px) {
  section.content {
    margin-top: 80px;
  }
  section.content {
    margin: 0%;
    margin-right: 0%;
  }
}
