.wrap {
  top: 0px;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.nav-wrap {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: white;
  border-bottom: solid 3px #f2f2f2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 30px 0px 30px;
  width: 100%;
  height: 80px;
  transition: 300ms;
}

.wrap-list {
  background-color: white;
  margin: 0px;
  width: 800px;
  height: 100%;
}

.logo {
  height: 64px;
}
.menu-icon {
  display: none;
  width: 40px;
}

.wrap-list ul {
  height: 80px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.wrap-list li * {
  font-size: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 0px 0px black;
  transition: box-shadow 0.2s; /* Add the transition property for box-shadow */
}

a *:hover {
  color: rgba(0, 0, 0, 0.6);
}

.selected {
  font-weight: bold;
  box-shadow: 0px 4px 0px 0px black;
  transition: 0.1s;
}
.black-bg {
  background-color: rgba(0, 0, 0, 1);
  border-bottom: solid 3px rgb(13, 13, 13);
  color: white;
  transition: 300ms;
}
.white-icon {
  filter: invert(100%);
  transition: 300ms;
}
.black-icon {
  filter: none;
}

@media all and (max-width: 800px) {
  .wrap-list {
    display: none;
  }
  .nav-wrap {
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    display: block;
  }
}
@media all and (max-width: 500px) {
  .nav-wrap {
    height: 60px;
  }
  .logo {
    height: 48px;
  }
  .menu-icon {
    width: 32px;
  }
}
