.news-card-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 270px;
  overflow: hidden;
  background-color: white;
  border-left: solid 3px #fff;
  border-bottom: solid 3px #fff;
  border-radius: 10px;
}
.header-content {
  flex: 3;
  display: flex;
  align-items: start;
  background: url(/src/assets/photoNews.jpeg) center;
  background-size: 500px auto;
}
.header-dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 300ms;
}
.header {
  width: 100%;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 10px;
}
.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding: 10px 10px 20px 10px;
  transition: 500ms;
}
.content-snippet {
  margin: 0px;
  font-size: 16px;
}
.link {
  text-decoration: none;
  color: black;
  opacity: 1;
  font-size: 16px;
}
.link b:hover {
  color: black;
  opacity: 0.6;
}
.news-card-wrap:hover > .card-content {
  background-color: #f2f2f2;
  transition: 500ms;
  flex: 3;
}
.news-card-wrap:hover > .header-content > .header-dim {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 500ms;
}
