.player-card-wrap {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 250px;
  background-color: #e3e3e3;
  border: solid 3px #f2f2f2;
}

.player-card {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
}

.player-stats {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header {
  margin-bottom: 10px;
}
.header * {
  margin: 0px;
  padding: 0px;
}

.player-photo {
  border-radius: 10px;
  height: 250px;
  aspect-ratio: 1/1;
}
@media all and (max-width: 1400px) {
  .player-card-wrap {
    width: 200px;
    height: 340px;
    margin: 15px;
  }
  .player-card-blur {
    padding: 15px;
    width: 230px;
    height: 370px;
    top: -15px;
    left: -15px;
  }
  .player-photo {
    height: 150px;
  }
  .header {
    font-size: 16px;
  }
  .player-description {
    font-size: 14px;
  }
}
@media all and (max-width: 800px) {
  .player-card-wrap {
    width: 170px;
    height: 280px;
    margin: 15px;
  }
  .player-card-blur {
    padding: 15px;
    width: 200px;
    height: 310px;
    top: -15px;
    left: -15px;
  }
  .player-photo {
    height: 120px;
  }
  .header {
    font-size: 14px;
  }
  .player-description {
    font-size: 12px;
  }
}
